// Cores
$sombra: #B7B7B7;
$cinza: #707070;
$dourado: #A48213;
$amarelo: #FBBA00;
$roxo: #702283;
$azul: #265AA6;
$branco: #ffffff;
$preto: #000000;

// Pesos das Fontes
$light: 300;
$regular: 400;
$medium: 500;
$semi: 600;
$bold: 700;